<h1>Make your form here</h1>
<form method="POST" action="/pirates">
    <label for="p_name">Pirate Name</label>
    <input type="text" id="pirate_name" name="pirate[name]"/>
    <label for="p_weight">Pirate Weight</label>
    <input type="text" id="pirate_weight" name="pirate[weight]"/>
    <label for="p_height">Pirate Height</label>
    <input type="text" id="pirate_height" name="pirate[height]"/>
    
    <label for="s1_name">Ship 1 Name</label>
    <input type="text" id="ship_name_1" name="pirate[ships][][name]"/>
    <label for="s1_type">Ship 1 Type</label>
    <input type="text" id="ship_type_1" name="pirate[ships][][type]"/>
    <label for="s1_booty">Ship 1 Booty</label>
    <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"/>

    <label for="s2_name">Ship 2 Name</label>
    <input type="text" id="ship_name_2" name="pirate[ships][][name]"/>
    <label for="s2_type">Ship 2 Type</label>
    <input type="text" id="ship_type_2" name="pirate[ships][][type]"/>
    <label for="s2_booty">Ship 2 Booty</label>
    <input type="text" id="ship_booty_2" name="pirate[ships][][booty]"/>

    <input type="submit" value="Submit"> 
</form>